@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --foreground-light: #202020;
  --secondary: #f3f4f6;
  --primary: #171717;
}

/* Dark Theme
[data-theme='dark'] {
  --background: #171717;
  --foreground: #f3f4f6;
  --secondary: #272626;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-light: var(--foreground-light);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary)
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.5s ease-in-out;
}

@font-face {
  font-family: roboto-regular;
  src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: poppins-regular;
  src: url(./fonts/Poppins-Regular.ttf)
}

@font-face {
  font-family: poppins-medium;
  src: url(./fonts/Poppins-Medium.ttf)
}

@font-face {
  font-family: amigos;
  src: url(./fonts/Amigos-7BL14.ttf)
}

html {
  scroll-behavior: smooth;
}

.roboto-regular {
  font-family: roboto-regular;
}

.poppins-regular {
  font-family: poppins-regular;
}

.poppins-medium {
  font-family: poppins-medium;
}


.clip-bottom {
  position: relative;
}

.clip-bottom img {
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 49% 83%, 0 100%, 0 0);
  border-radius: 30px 30px 0 0;
}

.clip-bottom::after {
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 49% 83%, 0 100%, 0 0);
  content: "";
  border-radius: 30px 30px 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  bottom: -12px;
  background: var(--primary);
}

.clip-bottom::before {
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 49% 83%, 0 100%, 0 0);
  content: "";
  border-radius: 30px 30px 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  bottom: -20px;
  background: gold;
}



.clip-right {
  position: relative;
  z-index: 5;
}

.clip-right img {
  clip-path: polygon(0 0, 80% 0, 100% 50%, 81% 100%, 0 100%, 7% 50%);
}

.clip-right::after {
  clip-path: polygon(0 0, 80% 0, 100% 50%, 81% 100%, 0 100%, 7% 50%);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  top: -15px;
  right: -15;
  background: white;
}

.clip-right::before {
  clip-path: polygon(0 0, 80% 0, 100% 50%, 81% 100%, 0 100%, 7% 50%);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: -8px;
  right: -8;
  background: gold;
}



.clip-left {
  position: relative;
}

.clip-left img {
  clip-path: polygon(45% 0, 100% 0, 100% 50%, 100% 100%, 31% 100%, 0% 50%);
}

.clip-left::after {
  clip-path: polygon(45% 0, 100% 0, 100% 50%, 100% 100%, 31% 100%, 0% 50%);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  left: -25px;
  top: -12px;
  background: var(--foreground);
}

.clip-left.white-bg::after {
  background: white;
  z-index: 2;
}

.clip-left.white-bg::after {
  background: white;
  z-index: 1;
}

.clip-left::before {
  clip-path: polygon(45% 0, 100% 0, 100% 50%, 100% 100%, 31% 100%, 0% 50%);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: -10px;
  top: -5px;
  background: gold;
}

.clip-left.white-bg::before {
  z-index: 2;
}



.clip-service-image {
  position: relative;
}

.clip-service-image img {
  clip-path: polygon(0 0, 80% 0, 100% 50%, 83% 100%, 0 100%, 0 42%);

}

.clip-service-image::after {
  clip-path: polygon(0 0, 80% 0, 100% 50%, 83% 100%, 0 100%, 0 42%);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  right: -25px;
  top: -9px;
  background: var(--foreground);
}

.clip-service-image::before {
  clip-path: polygon(0 0, 80% 0, 100% 50%, 83% 100%, 0 100%, 0 42%);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  right: -10px;
  top: -5px;
  background: gold;
}

.clip-service-image.white-bg::before {
  background: white;
}

.clip-service-image.white-bg::after {
  background: gold;
}

.dark-overlay {
  background: rgba(0, 0, 0, 0.603);
}